@use '../base/vars'as *;

.error_text{
    color: #f00;
    @include rem(11);
    margin-top: 5px;
}

.tweet{
    max-width: 800px;
    margin: 20px auto;
    display: grid;
    grid-template-columns: 48px 1fr;
    background-color: #fff;
    padding: 20px;
    
    .tweet_icon{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        
        img{
            width: 48px;
            height: 48px;
            object-fit: cover;
        }
    }
    
    .tweet_main{
        padding-left: 20px;
    }
    
    textarea{
        width: 100%;
        background-color: #fff;
        padding: 10px;
        border: solid 1px #ccc;
    }
    
    .tweet_footer{
        display: flex;
        margin-top: 20px;
    }
    
    .upload{
        
        .img_tweet{
            width: 20px;
            height: 20px;
            fill: rgb(29, 155, 240);
        }
        
        input[type=file]{
            visibility: hidden;
        }
    }
    
    input[type=submit]{
        margin-left: auto;
        width: 160px;
        height: 50px;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: rgb(29, 155, 240);
        color: #fff;
        border-radius: 30px;
    }
}


.timeline{
    max-width: 800px;
    margin: 20px auto;
}

.timeline_item{
    display: grid;
    grid-template-columns: 48px 1fr;
    padding: 20px;
    background-color: #fff;
    
    & + .timeline_item{
        margin-top: 20px;
    }
    
    .timeline_item_icon{
        width: 48px;
        height: 48px;
        border-radius: 50%;
        overflow: hidden;
        
        img {
            width: 48px;
            height: 48px;
            object-fit: cover;
        }
    }
    
    .timeline_item_main{
        padding: 0 20px;
        
        .timeline_item_main_head{
            display: flex;
            gap: 20px;
            
            h3{
                font-weight: bold;
            }
        }
    }
    
    .timeline_item_main_body{
        margin-top: 20px;
    }
    
    .timeline_item_main_footer{
        margin-top: 20px;
        
        ul{
            display: flex;
            gap: 20px;
            
            li{
                a{
                    &:hover{
                        opacity: .5;
                    }
                }
            }
        }
        
        .reply_icon{
            width: 18px;
            height: 18px;
        }
        
        .retweet_icon{
            width: 18px;
            height: 18px;
        }
    }
}




.page{
    max-width: 800px;
    margin: 20px auto;
    
    .pageitem{
        background-color: #fff;
        padding: 20px;
        
        & + .pageitem{
            margin-top: 30px;
        }
        
        h3{
            font-weight: bold;
            margin-bottom: 20px;
        }
        
        label + label{
            margin-left: 30px;
        }
        
        input[type=text]{
            width: 100%;
            padding: .5em 1em;
            @include rem(16);
            border: solid 1px #ccc;
        }
        
        input[type=radio]{
            margin-right: 5px;
        }
        
        button[type=submit]{
            margin-top: 20px;
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(29, 155, 240);
            color: #fff;
        }
    }
}




.user{
    max-width: 800px;
     margin: 0 auto;
     background-color: #fff;
     
     .user_head{
         display: flex;
         justify-content: center;
         align-items: center;
         width: 100%;
         height: 300px;
         background-color: #ccc;
         
         img{
             width: 200px;
             height: 200px;
             object-fit: cover;
             border-radius: 50%;
             border: solid 3px #fff;
         }
     }
     
     .user_profile_head{
         display: flex;
         align-items: center;
         gap: 20px;
         padding: 10px 20px;
         
         h3{
             @include rem(20);
             font-weight: bold;
         }
         
         p{
             @include rem(18);
         }
     }
     
    .btn_follow {
        margin-left: auto;
        width: 100px;
    
        a {
            margin-top: 20px;
            width: 100px;
            height: 40px;
            display: flex;
            justify-content: center;
            align-items: center;
            background-color: rgb(29, 155, 240);
            color: #fff;
        }
    }
     
     .user_profile_foot{
        display: flex;
        align-items: center;
        gap: 20px;
        padding: 0 20px 20px;
        
         ul{
             display: flex;
             gap: 20px;
             
             li{
                 
             }
         }
     }
}




.user_profile_wrap{
    display: flex;
    align-items: center;
    
    .user_profile_img{
        width: 60px;
        
        img{
            width: 60px;
            height: 60px;
            object-fit: cover;
            border-radius: 50%;
        }
    }
    
    .user_profile_upload{
        padding-left: 20px;
        
        label{
            border: solid 1px #ccc;
            padding: 10px;
            
            &:hover{
                background-color: #ccc;
                color: #fff;
            }
        }
    }
    
    input[type=file] {
        visibility: hidden;
    }
}